<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho"
        tools:targetApi="31">

        <!-- Tela de Login (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Fluxo pós-login -->
        <activity android:name=".MainActivity" />

        <!-- Home do Trabalhador (menu de botões) -->
        <activity android:name=".WorkerHomeActivity" />

        <!-- Tela de Histórico de Avarias do Trabalhador -->
        <activity android:name=".WorkerIssueHistoryActivity" />

        <!-- Tela de listar Avarias Pendentes -->
        <activity android:name=".PendingIssuesActivity" />

        <!-- Tela de listar Avarias Ativas -->
        <activity android:name=".ActiveIssuesActivity" />

        <!-- Gestor/Admin -->
        <activity android:name=".AdminActivity" />

        <!-- Estas Activities já existentes -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ManageIssuesActivity" />
        <activity android:name=".EditIssueActivity" />
        <activity android:name=".RegisterEmployeeActivity" />
        <activity android:name=".ManageEmployeesActivity" />
        <activity android:name=".CreateIssueActivity" />
        <activity android:name=".IssueListActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UserHomeActivity" />

    </application>
</manifest>
